     
        <div class="containner-fluid mt-5 about-style" id="aboutid">
         <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Our heroes are always ready for you</p>
                  <div class="row">
                      <div class="col-md-3 col-12 hero-text order-md-0 order-1">
                            <figure>
                                <img src="images/Netaji.svg" alt="">
                            </figure>
                      </div>
                     {{!--Right side--}}
                         <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                            <h1>HELP LINE NUMBER</h1>
                            <h1>+91 9734997767</h1>
                            <p><span class="bold-style">We are by your side all the time</span></p>
                            <a href="#serviceid"><button class="btn-style btn-primary">Read more</button></a>
                        </div>
                  </div>
            </div>
        </div>
    </div>

